<% provide(:title, 'Home') %>
<div class="center hero-suit">
	<h1>Welcome to Carpool</h1>
	<p>
	<% if current_user %>
		You are logged in.
	</p>
	<% else %>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-large, btn-primary" %>
	<% end %>
</div>